[user]
  email = mathieu.pousse@zenika.com
  name = Mathieu POUSSE
[alias]
  unstage = reset HEAD --
  last = log -1 HEAD
  co = checkout
  st = status
  ci = commit
  glog = log --oneline --graph --decorate
  gloga = log --oneline --graph --decorate --all
  filelog = log -u
  ours = "!f() { git co --ours $@ && git add $@; }; f"
  theirs = "!f() { git co --theirs $@ && git add $@; }; f"
  show-files = show --pretty="format:" --name-only

[credential]
  helper = store
