[user]
  email = m.mathieu.pousse@gmail.com
  name = Mathieu POUSSE
[alias]
  pushf = push --force-with-lease
  unstage = reset HEAD --
  last = log -1 HEAD
  co = checkout
  st = status
  ci = commit
  glog = log --color --graph --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  gloga = log --color --graph --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  filelog = log -u
  ours = "!f() { git co --ours $@ && git add $@; }; f"
  theirs = "!f() { git co --theirs $@ && git add $@; }; f"
  show-files = show --pretty="format:" --name-only
[credential]
  helper = store
[push]
        default = simple
[core]
        autocrlf = input
[pull]
        rebase = true
[rebase]
        autoStash = true
[rerere]
        enabled=true


        
